<div class="container">
  <h2 class="text-center mb-3">Ingressos</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-title">17/09 | 16:00</h6>
          <p class="card-text">Flamengo x São Paulo</p>
          <hr class="my-3" />
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <img
                src="assets/img/Flamengo.png"
                width="55px"
                alt="Flamengo"
                class="img-fluid"
              />
              <p class="mt-2">Flamengo</p>
            </div>
            <div class="mx-3">
              <span class="fw-bold text-xl-left">X</span>
            </div>
            <div>
              <img
                src="assets/img/Sao_Paulo.png"
                width="55px"
                alt="Escudo Time B"
                class="img-fluid"
              />
              <p class="mt-2">São Paulo</p>
            </div>
          </div>
          <a class="btn btn-outline-danger mt-3">Comprar Ingressos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-title">20/09 | 21:30</h6>
          <p class="card-text">São Paulo x Fortaleza</p>
          <hr class="my-3" />
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <img
                src="assets/img/Sao_Paulo.png"
                width="55px"
                alt="Flamengo"
                class="img-fluid"
              />
              <p class="mt-2">São Paulo</p>
            </div>
            <div class="mx-3">
              <span class="fw-bold text-xl-left">X</span>
            </div>
            <div>
              <img
                src="assets/img/Fortaleza.png"
                width="55px"
                alt="Escudo Time B"
                class="img-fluid"
              />
              <p class="mt-2">Fortaleza</p>
            </div>
          </div>
          <a class="btn btn-outline-danger mt-3">Comprar Ingressos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-title">24/09 | 16:00</h6>
          <p class="card-text">São Paulo x Flamengo</p>
          <hr class="my-3" />
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <img
                src="assets/img/Sao_Paulo.png"
                width="55px"
                alt="Flamengo"
                class="img-fluid"
              />
              <p class="mt-2">São Paulo</p>
            </div>
            <div class="mx-3">
              <span class="fw-bold text-xl-left">X</span>
            </div>
            <div>
              <img
                src="assets/img/Flamengo.png"
                width="55px"
                alt="Escudo Time B"
                class="img-fluid"
              />
              <p class="mt-2">Flamengo</p>
            </div>
          </div>
          <a class="btn btn-outline-danger mt-3">Comprar Ingressos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-title">27/09 | 19:00</h6>
          <p class="card-text">São Paulo x Coritiba</p>
          <hr class="my-3" />
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <img
                src="assets/img/Sao_Paulo.png"
                width="55px"
                alt="Flamengo"
                class="img-fluid"
              />
              <p class="mt-2">São Paulo</p>
            </div>
            <div class="mx-3">
              <span class="fw-bold text-xl-left">X</span>
            </div>
            <div>
              <img
                src="assets/img/Coritiba.png"
                width="55px"
                alt="Escudo Time B"
                class="img-fluid"
              />
              <p class="mt-2">Coritiba</p>
            </div>
          </div>
          <a class="btn btn-outline-danger mt-3">Comprar Ingressos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body text-center">
            <h6 class="card-title">30/09 | 18:30</h6>
            <p class="card-text">São Paulo x Corinthians</p>
            <hr class="my-3" />
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <img
                  src="assets/img/Sao_Paulo.png"
                  width="55px"
                  alt="Flamengo"
                  class="img-fluid"
                />
                <p class="mt-2">São Paulo</p>
              </div>
              <div class="mx-3">
                <span class="fw-bold text-xl-left">X</span>
              </div>
              <div>
                <img
                  src="assets/img/Corinthians.png"
                  width="55px"
                  alt="Escudo Time B"
                  class="img-fluid"
                />
                <p class="mt-2">Corinthians</p>
              </div>
            </div>
            <a class="btn btn-outline-danger mt-3">Comprar Ingressos</a>
          </div>
        </div>
      </div>
      
      <!-- Mais Cartas -->
  </div>
</div>
