<div class="row no-gutters">
  <div class="col">
    <img class="img-fluid" src="assets/img/Morumbi2.jpeg">
  </div>
</div>
  <section class="information">
    <div class="container-fluid">  
        <div class="row">
            <div class="col-lg-4 text-center p-5 bg-danger text-light">
                <img class="p-2 img-fluid" width="80" height="80" src="assets/img/Taça_do_Campeonato_Brasileiro.svg">
                <h4 class="py-3">6 Brasileiros</h4>
                <p class="para-light">1977, 1986, 1991, 2006, 2007, 2008</p>
            </div>
            <div class="col-lg-4 text-center p-5">
                <img class="p-2 img-fluid" width="80" height="80" src="assets/img/Libertadores.svg">
                <h4 class="py-3">3 Libertadores</h4>
                <p>1992, 1993 e 2005</p>
            </div>
            <div class="col-lg-4 text-center p-5 bg-dark text-light"> 
                <img class="p-2" width="90" height="90" src="assets/img/Fifa_Club_WC.svg">
                <h4 class="py-3">3 Mundiais</h4>
                <p>1992, 1993 e 2005</p>
            </div>
        </div>
    </div>
</section>
