<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Notícias</h1>
      <div class="news-item">
        <hr class="my-4" />
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../../assets/img/not1.png"
              alt="Notícia 1"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <h3 class="text-danger">
              São Paulo anuncia programação de troca de ingressos para finais da
              Copa do Brasil
            </h3>
            <p class="text-secondary">
              Processo começa nesta quinta-feira para bilhetes dos jogos de ida
              e volta contra o Flamengo
            </p>
            <p></p>
          </div>
        </div>
        <hr class="my-4" />
      </div>
      <div class="news-item">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../../assets/img/not2.png"
              alt="Notícia 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <h3 class="text-danger">
              São Paulo abre venda de ingressos para primeiro jogo da final da
              Copa do Brasil nesta quarta-feira
            </h3>
            <p class="text-secondary">
              Tricolor tem direito a cerca de 3,5 mil bilhetes para a partida de
              domingo, no Maracanã
            </p>
            <p></p>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../../assets/img/not3.png"
              alt="Notícia 3"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <h3 class="text-danger">
              São Paulo encara Inter para retomar rumo no Brasileirão e amenizar
              pressão antes de final
            </h3>
            <p class="text-secondary">
              Time não vence há seis jogos (quase dois meses) e, em queda livre,
              saiu do G-4 para a segunda metade da tabela da Série A
            </p>
            <p></p>
          </div>
        </div>
        <hr class="my-4" />
      </div>
      <div class="news-item">
        <div class="row">
          <div class="col-md-4">
            <img
              src="../../../assets/img/not4.png"
              alt="Notícia 4"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <h3 class="text-danger">
              Escalação do São Paulo: Welington será desfalque contra o Inter;
              Ferraresi volta a treinar
            </h3>
            <p class="text-secondary">
              Lateral voltou mais cedo da seleção brasileira sub-23, mas não a
              tempo de treinar com o Tricolor no CT da Barra Funda; venezuelano
              trabalhou ao lado dos companheiros
            </p>
            <p></p>
          </div>
        </div>
        <hr class="my-4" />
      </div>
    </div>
  </div>
</div>
