<div class="container">
    <h2 class="text-center pb-4">Próximos Jogos - Setembro 2023</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Campeonato Brasileiro 2023
                </div>
                <div class="card-body">
                    <p class="text-center">13/09 - 21:30</p>
                    <p class="text-center">Internacional
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Internacional.png" alt="Internacional">
                        <strong>X</strong> 
                        <img  class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        São Paulo
                        </p>
                    <p class="text-center">Estádio Beira-Rio - RS</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Copa do Brasil - Final - Jogo 1
                </div>
                <div class="card-body">
                    <p class="text-center">17/09 - 16:00</p>
                    <p class="text-center">Flamengo
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Flamengo.png" alt="Internacional">
                        <strong>X</strong> 
                        <img  class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        São Paulo
                        </p>
                    <p class="text-center">Estádio Maracanã - RJ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Campeonato Brasileiro 2023
                </div>
                <div class="card-body">
                    <p class="text-center">20/09 - 21:30</p>
                    <p class="text-center">São Paulo
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        <strong>X</strong> 
                        <img  class="img-fluid mx-2" width="40" height="40" src="assets/img/Fortaleza.png" alt="Fortaleza">
                        Fortaleza
                        </p>
                    <p class="text-center">Estádio do Morumbi - SP</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Copa do Brasil - Final - Jogo 2
                </div>
                <div class="card-body">
                    <p class="text-center">24/09 - 16:00</p>
                    <p class="text-center">São Paulo
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        <strong>X</strong> 
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Flamengo.png" alt="Internacional">
                        Flamengo
                        </p>
                    <p class="text-center">Estádio do Morumbi - SP</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Campeonato Brasileiro 2023
                </div>
                <div class="card-body">
                    <p class="text-center">27/09 - 21:30</p>
                    <p class="text-center">São Paulo
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        <strong>X</strong> 
                        <img  class="img-fluid mx-2" width="40" height="40" src="assets/img/Coritiba.png" alt="Coritiba">
                        Coritiba
                        </p>
                    <p class="text-center">Estádio Beira-Rio - RS</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header text-center ">
                    Campeonato Brasileiro 2023
                </div>
                <div class="card-body">
                    <p class="text-center">30/09 - 18:30</p>
                    <p class="text-center">São Paulo
                        <img class="img-fluid mx-2" width="40" height="40" src="assets/img/Sao_Paulo.png" alt="São Paulo">
                        <strong>X</strong> 
                        <img  class="img-fluid mx-2" width="40" height="40" src="assets/img/Corinthians.png" alt="Corinthians">
                        Corinthians
                        </p>
                    <p class="text-center">Estádio do Morumbi - SP</p>
                </div>
            </div>
        </div>
    </div>

    
</div>
