<div class="text-center">
  <h1>Loja</h1>

  <div class="d-flex justify-content-center" style="height: 100vh">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-3 w-50 pt-3">
      <div class="col mb-3">
        <div class="card">
          <img
            src="assets/img/sp1.png"
            class="card-img-top img-fluid mt-3"
            alt="Camisa I - São Paulo"
          />
          <div class="card-body">
            <div class="text-center mb-2">
              <button class="btn btn-primary btn-sm mr-2">Add Carrinho</button>
              <button class="btn btn-success btn-sm">Comprar</button>
            </div>
            <h6 class="card-title text-center font-weight-bold">
              Camisa I - 23/24 - Masculina
            </h6>
            <p class="card-text text-danger text-center font-weight-bold">R$ 349,99</p>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <img
            src="assets/img/sp2.png"
            class="card-img-top img-fluid mt-3"
            alt="Camisa II - São Paulo"
          />
          <div class="card-body">
            <div class="text-center mb-2">
              <button class="btn btn-primary btn-sm mr-2">Add Carrinho</button>
              <button class="btn btn-success btn-sm">Comprar</button>
            </div>
            <h6 class="card-title text-center font-weight-bold">
              Camisa I - 23/24 - Masculina
            </h6>
            <p class="card-text text-danger text-center font-weight-bold">R$ 349,99</p>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <img
            src="assets/img/sp3.png"
            class="card-img-top img-fluid mt-3"
            alt="Camisa III - São Paulo"
          />
          <div class="card-body">
            <div class="text-center mb-2">
              <button class="btn btn-primary btn-sm mr-2">Add Carrinho</button>
              <button class="btn btn-success btn-sm">Comprar</button>
            </div>
            <h6 class="card-title text-center font-weight-bold">
              Camisa III - 23/24 - Masculina
            </h6>
            <p class="card-text text-danger text-center font-weight-bold">R$ 349,99</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
