<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Goleiros</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="Imagem do Goleiro">
    <div class="card-body">
        <div class="card">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Rafael</h5>
    </div>""
    <img src="c:\Users\Miguel\Downloads\Jandrei.png." class="card-img-top" alt="Imagem do Goleiro">
    <div class="card-body">
        <div class="card">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Jandrei</h5>
    </div>""
  </div>
  <h1>Zagueiros</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Arboleda.png." class="card-img-top" alt="Imagem do Zagueiro">
    <div class="card-body">
        <div class="card">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Arboleda</h5>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Beraldo.png." class="card-img-top" alt="Imagem do Zagueiro">
    <div class="card-body">
        <div class="card">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Beraldo</h5>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Ferraresi.png." class="card-img-top" alt="Imagem do Zagueiro">
    <div class="card-body">
        <div class="card">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Ferraresi</h5>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
            </div>
          </div>
      <h5 class="card-title">Diego Costa</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
            </div>
          </div>
      <h5 class="card-title">Alan Franco</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">             
            </div>
          </div>
      <h5 class="card-title">Matheus Belém</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="container">
    <h1>Laterais</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">             
            </div>
          </div>
      <h5 class="card-title">Rafinha</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Caio Paulista</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Wellington</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Igor Vinícius</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Patryck</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div><div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Moreira</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Nathan</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Raí Ramos</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Caio Paulista</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card">
            <div class="card-body">            
            </div>
          </div>
      <h5 class="card-title">Caio Paulista</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
    </div>""
  </div>
  <div class="container">
    <h1>Meias</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card" style="width: 18rem;">
    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
    <div class="card-body">
    <div class="card">
    <div class="card-body">            
  </div>
 </div>
 <h5 class="card-title">James Rodríguez</h5>
 <p class="card-text"></p>
 <a href="#" class="btn btn-primary"></a>
</div>""
</div>
     <div class="card" style="width: 18rem;">
     <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
   <div class="card-body">
 <div class="card">
 <div class="card-body">            
   </div>
    </div>
     <h5 class="card-title">James Rodríguez</h5>
     <p class="card-text"></p>
      <a href="#" class="btn btn-primary"></a>
      </div>""
     </div>
     <div class="card" style="width: 18rem;">
        <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
      <div class="card-body">
    <div class="card">
    <div class="card-body">            
      </div>
       </div>
        <h5 class="card-title">James Rodríguez</h5>
        <p class="card-text"></p>
         <a href="#" class="btn btn-primary"></a>
         </div>""
        </div>
        <div class="card" style="width: 18rem;">
            <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
          <div class="card-body">
        <div class="card">
        <div class="card-body">            
          </div>
           </div>
            <h5 class="card-title">James Rodríguez</h5>
            <p class="card-text"></p>
             <a href="#" class="btn btn-primary"></a>
             </div>""
            </div>
            <div class="card" style="width: 18rem;">
                <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
              <div class="card-body">
            <div class="card">
            <div class="card-body">            
              </div>
               </div>
                <h5 class="card-title">James Rodríguez</h5>
                <p class="card-text"></p>
                 <a href="#" class="btn btn-primary"></a>
                 </div>""
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                  <div class="card-body">
                <div class="card">
                <div class="card-body">            
                  </div>
                   </div>
                    <h5 class="card-title">James Rodríguez</h5>
                    <p class="card-text"></p>
                     <a href="#" class="btn btn-primary"></a>
                     </div>""
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                      <div class="card-body">
                    <div class="card">
                    <div class="card-body">            
                      </div>
                       </div>
                        <h5 class="card-title">James Rodríguez</h5>
                        <p class="card-text"></p>
                         <a href="#" class="btn btn-primary"></a>
                         </div>""
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                          <div class="card-body">
                        <div class="card">
                        <div class="card-body">            
                          </div>
                           </div>
                            <h5 class="card-title">James Rodríguez</h5>
                            <p class="card-text"></p>
                             <a href="#" class="btn btn-primary"></a>
                             </div>""
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                              <div class="card-body">
                            <div class="card">
                            <div class="card-body">            
                              </div>
                               </div>
                                <h5 class="card-title">James Rodríguez</h5>
                                <p class="card-text"></p>
                                 <a href="#" class="btn btn-primary"></a>
                                 </div>""
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                                  <div class="card-body">
                                <div class="card">
                                <div class="card-body">            
                                  </div>
                                   </div>
                                    <h5 class="card-title">James Rodríguez</h5>
                                    <p class="card-text"></p>
                                     <a href="#" class="btn btn-primary"></a>
                                     </div>""
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                                      <div class="card-body">
                                    <div class="card">
                                    <div class="card-body">            
                                      </div>
                                       </div>
                                        <h5 class="card-title">James Rodríguez</h5>
                                        <p class="card-text"></p>
                                         <a href="#" class="btn btn-primary"></a>
                                         </div>""
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                                          <div class="card-body">
                                        <div class="card">
                                        <div class="card-body">            
                                          </div>
                                           </div>
                                            <h5 class="card-title">James Rodríguez</h5>
                                            <p class="card-text"></p>
                                             <a href="#" class="btn btn-primary"></a>
                                             </div>""
                                            </div>
                                            <div class="card" style="width: 18rem;">
                                                <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                                              <div class="card-body">
                                            <div class="card">
                                            <div class="card-body">            
                                              </div>
                                               </div>
                                                <h5 class="card-title">James Rodríguez</h5>
                                                <p class="card-text"></p>
                                                 <a href="#" class="btn btn-primary"></a>
                                                 </div>""
                                                </div>
                                                <div class="card" style="width: 18rem;">
                                                    <img src="c:\Users\Miguel\Downloads\Rafael.png." class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                <div class="card">
                                                <div class="card-body">            
                                                  </div>
                                                   </div>
                                                    <h5 class="card-title">James Rodríguez</h5>
                                                    <p class="card-text"></p>
                                                     <a href="#" class="btn btn-primary"></a>
                                                     </div>""
                                                    </div>
      <div class="container">
        <h1>Goleiros</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
  